<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magecom_Blog::blog" title="Magecom Blog" sortOrder="51">
                    <resource id="Magecom_Blog::post" title="Posts" sortOrder="10"/>
                    <resource id="Magecom_Blog::comment" title="Posts" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>