<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magecom\Blog\Model\ResourceModel\Post\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magecom_blog_post</argument>
            <argument name="eventPrefix" xsi:type="string">mbp_records_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mbp_grid_records_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magecom\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecom_blog_post_listing_data_source" xsi:type="string">Magecom\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magecom\Blog\Model\ResourceModel\PostComment\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magecom_blog_post_comment</argument>
            <argument name="eventPrefix" xsi:type="string">mbpc_records_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">mbpc_grid_records_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magecom\Blog\Model\ResourceModel\PostComment</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecom_blog_comment_listing_data_source" xsi:type="string">Magecom\Blog\Model\ResourceModel\PostComment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magecom\Blog\Model\ResourceModel\Author\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magecom_blog_author</argument>
            <argument name="resourceModel" xsi:type="string">Magecom\Blog\Model\ResourceModel\Author</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecom_blog_author_listing_data_source" xsi:type="string">Magecom\Blog\Model\ResourceModel\Author\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="MagecomBlogImageUploaderUiDataProviderImageFormModifierPool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="image_data" xsi:type="array">
                    <item name="class" xsi:type="string">Magecom\Blog\Ui\DataProvider\Post\Form\Modifier\PostData</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magecom\Blog\Ui\PostDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">MagecomBlogImageUploaderUiDataProviderImageFormModifierPool</argument>
        </arguments>
    </type>


    <virtualType name="MagecomBlogImageUploader" type="Magecom\Blog\Model\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="const">Magecom\Blog\Model\Uploader::IMAGE_TMP_PATH</argument>
            <argument name="basePath" xsi:type="const">Magecom\Blog\Model\Uploader::IMAGE_PATH</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magecom\Blog\Model\UploaderPool">
        <arguments>
            <argument name="uploaders" xsi:type="array">
                <item name="image" xsi:type="string">MagecomBlogImageUploader</item>
            </argument>
        </arguments>
    </type>
    <type name="Magecom\Blog\Controller\Adminhtml\Post\Upload">
        <arguments>
            <argument name="uploader" xsi:type="object">MagecomBlogImageUploader</argument>
        </arguments>
    </type>
    <type name="Magecom\Blog\Ui\Component\Listing\Column\Image">
        <arguments>
            <argument name="imageModel" xsi:type="object">MagecomBlogImageUploader</argument>
        </arguments>
    </type>

    <preference for="Magecom\Blog\Api\Repository\AuthorInterface"
                type="Magecom\Blog\Model\Repository\Author" />
    <preference for="Magecom\Blog\Api\Repository\PostInterface"
                type="Magecom\Blog\Model\Repository\Post" />
    <preference for="Magecom\Blog\Api\Repository\PostCommentInterface"
                type="Magecom\Blog\Model\Repository\PostComment" />

    <preference for="Magecom\Blog\Api\Data\AuthorInterface"
                type="Magecom\Blog\Model\Author" />
    <preference for="Magecom\Blog\Api\Data\PostInterface"
                type="Magecom\Blog\Model\Post" />
    <preference for="Magecom\Blog\Api\Data\PostCommentInterface"
                type="Magecom\Blog\Model\PostComment" />
</config>